<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>
        <meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}">
        <meta property="og:url" content="{{ page.url | absolute_url}}">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/normalize.css" |  | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" |  | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/nav-style.css" |  | relative_url }}">

    </head>
<body>
<div class="header">
    <a href="{{ site.url }}" class="logo"><h1>{{ site.title }}:</h1></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    {% assign current = page.url | downcase | split: '/' %}
    <ul class="menu">
        <li><a href='/blog' {% if current[1] == 'blog' %} class='active' {% endif %}>
        Блог</a></li>
        <li><a href='/about' {% if current[1] == 'about' %} class='active' {% endif %}>
        Обо мне</a></li>
    </ul>
</div>
    
