/* header */

.header {
  border-bottom: 1px solid #e7e7e7;
  background-color: #333;
  width: 100%;
  text-align: right;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  margin: 0 auto;
  padding: 1.1em 0 1em;
}

.header ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header li a {
  font-size: 1.2em;
  color: #777;
  letter-spacing: 1px;
  border-bottom: none;
  text-decoration: none;
  display: block;
  margin: 1.1em;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #eee;
}

/* active item */
.header a.active {
  color: #eee;
}

/* logo */
.header h1 {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    float: left;
    margin: 0 16px;
}

.header a.logo {
    color: #eee;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  -moz-transition: max-height .2s ease-out;
  -o-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 10px 16px 8px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #eee;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #eee;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    margin: 0px 16px 0 8px;
    padding: 0;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}