@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&subset=cyrillic');

html {
	width: 100%;
	max-height: 100%;
}

body {
	background-color: #99f9ff;
	font-family: 'Press Start 2P', 'Anonymous Pro','Press Start 2P', monospace;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	line-height: 20px;
}

a {
	color: #f49988;
	text-decoration: none;
}

.logo {
	width: 70px;
	margin: 25px auto;
}

.shell-window {
	width: 70%;
	
	background-color: #201F1E;
	color: #f1f0f0;
	box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.5);
	padding: 25px;
	margin: 25px auto;
}

ins, del {
	text-decoration: none;
}

.t-caret {
	font-size: inherit;
	color: #ff00fc;
}

.shell-nickname {
	color: #a8b2ff;
}
.importatnt-text {
	color: #ff00fc;
	font-weight: 700;
}

.nowrap {
	white-space: nowrap
}

.main-box-lang-switch {
	background-color: #201F1E;
	color: #f49988;
	position: absolute;
	right: 20px;
	top: 20px;

	font-size: 10px;
	line-height: 10px;

	box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.5);

	z-index: 1000;
}

.main-box-lang-switch:hover {
	box-shadow: 0px 0px 10px 1px rgba(241, 240, 240, 0.9);
}

.box-lang-switch {
	margin: 0px;
	padding: 10px 9px 9px 10px;
	text-align: center;
}

.box-lang-current {
	background-color: #F1F0F0;
	color: #201F1E;
}


.buble {
	height: 250px;
	width: 50%;

	background-image: url('buble1.svg');
	background-position: right top;
	background-size: contain;
	background-repeat: no-repeat;
	
	position: fixed;
	right: 0%;
	top: 0%;
	z-index: -100;
}


.noise-1 {
	background-image: url(noise.gif);
	height: 85%;
	width: 11%;
	position: fixed;
	left: 0;
	top: 15%;
	z-index: -100;
}

.noise-2 {
	background-image: url(noise.gif);
	height: 65%;
	width: 11%;
	position: fixed;
	left: 5%;
	top: 35%;
	z-index: -90;
}

@media only screen and (max-width: 860px) {
	body {
		font-size: 14px;
		line-height: 18px;
	}

	.logo {
		width: 60px;
	}

    .shell-window {
    	width: 85%;
		padding: 15px;
		margin: 15px auto;
	}

	.buble {
		height: 180px;
	}
}

@media only screen and (min-width: 1900px) {
	body {
		font-size: 24px;
		line-height: 30px;
	}

	.logo {
		width: 140px;
		margin: 60px auto;
	}

    .shell-window {
		width: 60%;
		padding: 40px;
		margin: 60px auto;
	}

	.main-box-lang-switch {
		right: 30px;
		top: 30px;
		font-size: 20px;
		line-height: 20px;
	}

	.box-lang-switch {
		padding: 20px 18px 18px 20px;
	}

	.buble {
		height: 450px;
	}
}
