<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ site.title }}</title>
    
        <meta property="og:title" content="{{ site.title }}">
        <meta name="description" content="{{ site.description }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:url" content="{{ page.url | absolute_url}}">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/normalize.css" | absolute_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | absolute_url }}">

        <style type="text/css">
            body {
                padding: 3em 7%;
            }

            h1 {
                font-size: 2.5em;
                line-height: 0.9em;
                display: block;
                text-transform: none;
                background-color: #fff;
            }

            div.container {
                max-width: 32em;
            }

            div.social-link {
                display: inline-block;
                background-color: #ffd;
            }
        </style>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112681524-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-112681524-1');
        </script>

    </head>
<body>
    <div class="container">
    	<h1>Under Construction</h1>
        <p>E-mail: <a href="mailto:hi@viktoranisenok.ru">hi@viktoranisenok.ru</a>
    </div>
</body>
</html>